body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item {
  margin-left: 40px;
}

.footer-links {
  text-decoration: none;
  display: inline-block;
  color: #428ae8;
  margin-bottom: 16px;
}

#supportHero {
  background-color: #387ed1;
  color: white;
  padding-bottom: 90px;
}
#supportHero a{
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
#supportHero input {
  padding: 35px 30px;
  width: 100%;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
